* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family:open sans, sans-serif;
}

/*COLUMNS */

.col-50 {
    width: 50%;
}

.col-2 {
    width: calc((100% - 10px) / 3 * 2);
}

.col-1 {
    width: calc((100% - 20px) / 3);
}

/*CONTAINER */
.header-container {
    padding: 20px;
    font-size: 14px;
    background-color: #0084fd;
}

.main-container {
    padding: 20px;
    font-size: 14px;
    background-color: white;
}

.main-container-2 {
    padding: 20px;
    font-size: 14px;
    background-color: #9792e4;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

.header-container a {
    text-decoration: none;
    color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.header-list {
    list-style-type: none;

}

.flex-start {
    justify-content: start;
    align-items: center;
}

.flex-end {
    justify-content: end;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.f-end {
    align-items: center;
    justify-content: end;
    display: flex;
}

.fd-column {
    display: flex;
    flex-direction: column;
}

/*PADDING*/

.pa-5 {
    padding: 5px;
}

.pa-20 {
    padding: 20px;
}

.margin-right {
    margin-right: 10px;
}

/*BUTTONS */
.button-white {
    background-color: #ffffff;
    padding: 10px 15px;
    color: black !important;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    
}

/*TEXT*/

.text-white {
    color: white !important;
 }


/*COLORS */
.bg-lightblue {
    background-color: #0084fd
}

.bg-celeste {
    background-color: #b5ddff;
}

/*MARGIN */
.margin-right-10 {
    margin-right: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.sp-between {
    justify-content: space-between;
}

.content {
    background-color: #b5ddff;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.debug {
    
    height: 300px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.content {
    border-radius: 20px;
}

/*WIDTH*/ 

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.m-20 {
    margin: 20px;
}

.g-10 {
    margin-left: 10px;
    margin-right: 10px;
}

/*IMAGE*/
.img {
    width: 300px;
    height:300px
}

