* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family:open sans, sans-serif;
}

/*COLUMNS */

.col-50 {
    width: 50%;
}

.col-50-2 {
    width: 50%;
}

.col-33 {
    width: 33%;
}



.col-2 {
    width: calc((100% - 10px) / 3 * 2);
}

.col-1 {
    width: calc((100% - 20px) / 3);
}

/*CONTAINER */
.header-container {
    padding: 20px;
    font-size: 14px;
    background-color: #0084fd;
}

.mc {
    padding: 20px;
    font-size: 14px;
    background-color: white;
}




.main-container-2 {
    padding: 20px;
    font-size: 14px;
    background-color: #9792e4;
    
}

.footer-container {
    padding: 20px;
    
    background-color: #333333;
    
    
    
}

.main-container-3 {
    
    font-size: 14px;
    background-color: #9792e4;
    
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container-2 {
    width: 1200px;
    margin: 0 auto;
}

.header-container a {
    text-decoration: none;
    color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.header-list {
    list-style-type: none;

}

.flex-start {
    justify-content: start;
    align-items: center;
}

.flex-end {
    justify-content: end;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.f-end {
    align-items: center;
    justify-content: end;
    display: flex;
}

.fd-column {
    display: flex;
    flex-direction: column;
}

/*PADDING*/

.pa-5 {
    padding: 5px;
}

.pa-10 {
    padding: 10px;
}

.pa-20 {
    padding: 20px;
}

.margin-right {
    margin-right: 10px;
}

/*BUTTONS */
.button-white {
    background-color: #ffffff;
    padding: 10px 15px;
    color: black !important;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    
}

.flex {
    display: flex;
    align-items: flex-end;
}

/*TEXT*/

.text-white {
    color: white !important;
 }

 .text-vaiolet {
   color: #9792e4;
 }

 .text-grey {
    color: #cdccf2;
 }

 .text-dg {
   color: #5a6e7f;
 }

 .text-blue {
    color: #0084fd;
 }

 .tg {
    color: #a9a9a9;
 }

 .text-yellow {
    color: #fdc15f;
    font-size: 50px;
 }

 .text-12 {
    font-size: 12px;
 }

 .text-40 {
    font-size: 40px;
 }



/*COLORS */
.bg-lightblue {
    background-color: #0084fd
}

.bg-celeste {
    background-color: #b5ddff;
}

/*MARGIN */
.margin-right-10 {
    margin-right: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.mt-1 {
    margin-top: -60px;
}

.app-container {
    overflow: scroll;
    width: 100% vw;
    height: 100% vh;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-left-150 {
    margin-left: 150px;
}

.m-left-340 {
    margin-left: 340px;
}

.m-left-375 {
    margin-left: 375px;
}

.m-left-435 {
    margin-left: 435px;
}

.m-left-390 {
    margin-left: 390px;
}

.m-left {
    margin-left: 270px;
}

.margin-left-125 {
    margin-left: 125px;
}

.margin-left-70 {
    margin-left: 100px;
}

.m-left-110 {
    margin-left: 110px;
}

.m-left-80 {
    margin-left: 90px;
}

.m-left-60 {
    margin-left: 60px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.mb {
    margin-bottom: 40px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-25 {
    margin-left: 25px;
}

.sp-between {
    justify-content: space-between;
}

.content {
    background-color: #b5ddff;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.content-2 {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.debug-2 {
    
    height: 300px;
    background-color: #b5ddff;
    border-radius: 20px;
    width: 200px;
}

.debug-3 {
    
    height: 150px;
    background-color: #9792e4;
    border-radius: 20px;
    
}

.margin-top-150 {
    margin-top: 150px;
}


.debug-4 {
    
    height: 300px;
    background-color: white;
    border-radius: 20px;
}


.debug {
    
    height: 300px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.content {
    border-radius: 20px;
}

/*WIDTH*/ 

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-33 {
    width: 33%;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-25 {
    margin: 25px;
}

.g-10 {
    margin-left: 10px;
    margin-right: 10px;
}

/*IMAGE*/
.img {
    width: 250px;
    height:250px;
}

.h-400 {
    height: 500px;
}

.img-2 {
    object-fit: center;
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

/*BUTTONS */

.button-v {
    background-color: #9792e4;
    padding: 10px 15px;
    color: white !important;
    
    border-radius: 20px;
}

.button-v-2 {
    background-color: #9792e4;
    padding: 10px 45px;
    color: white !important;
    
    border-radius: 20px;
}

.button-white {
    background-color: white;
    padding: 18px 35px;
    color: #9c97e5 !important;
    
    border-radius: 50px;
}

.button-blue {
    background-color: #0084fd;
    padding: 10px 25px;
    color: white !important;
    
    border-radius: 50px;
}

.margin-bottom {
    margin-bottom: 60px;
    

}

.bold {
    font-weight: bold;
}

.line-height {
    line-height: 20px;
}

.link-2 {
    text-decoration: none;
    color: white;
}

.a-class {
    color: white;
    text-decoration: underline;
}

.a-class-2 {
    color: #8682c6;
    text-decoration: underline;
}

.link-3 {
    text-decoration: underline;
    color:  #8682c6;
}

.h-20 {
    height: 20px;
}

.size {
    font-size: 50px;
}

.color-icons {
    color: #0084fd;
}

/*RESPONSIVA */
@media screen and (min-width: 768px) {
    .col-md-2 {
        width: calc(100% / 3 * 2);
        
    }

    .col-md-33 {
        width: calc(100% / 3);
    }

    .col-md-50 {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .col-50 {
        width: 50%
    }

    .col-lg-33 {
        width: calc(100% / 3);
    }
}
    
